---
layout: home
title: Схемотехника
---
{% assign first = true %}
{% assign cx = '' %}
{% for post in site.posts %}
{% if first %}{% unless post.future %}
{% assign cx = post.title %}
{% if post.image %}
<p><img src="logos/{{ post.image }}"></p>
{% else %}
<h1>{{ post.title }}</h1>
{% endif %}
{{ post.content }}
{% assign first = false %}
{% endunless %}{% endif %}
{% endfor %}

<h2>Все встречи</h2>

<ul>
{% for post in site.posts %}
<li>{{ post.evdate }}: <a href="{{ post.url }}">{{ post.title }}</a>{% if post.youtube %} (<a href="https://www.youtube.com/playlist?list={{ post.youtube }}">видео</a>){% endif %}</li>
{% endfor %}
</ul>

<h2>Что это?</h2>

<p>«Схемотехника» — главная и единственная серия московских встреч ГИС-энтузиастов
из сообществ OpenStreetMap и ГИС-Лаб. Участники слушают рассказы
про геоинформационные технологии и открытые геоданные, общаются с докладчиками
и делятся мыслями и новостями сами.</p>

<p>Чтобы не пропускать мероприятия и публикации видеозаписей, подпишитесь
на <a href="https://t.me/schemotechnika">канал в Telegram</a>.</p>

<p>Организует эти встречи Илья Зверев из MAPS.ME. По любым вопросам — от новых
мероприятий до помощи с проходом — звоните <a href="tel:+79251293457">+7 925 129-34-57</a>
или пишите в <a href="https://t.me/ilyazver">телеграм</a> или на
<a href="mailto:ilya@zverev.info">ilya@zverev.info</a>.</p>
