---
layout: home
title: Схемотехника
---
{% assign first = true %}
{% assign cx = '' %}
{% for post in site.posts %}
{% if first %}{% unless post.future %}
{% assign cx = post.title %}
{% if post.image %}
<p><img src="logos/{{ post.image }}"></p>
{% else %}
<h1>{{ post.title }}</h1>
{% endif %}
{{ post.content }}
{% assign first = false %}
{% endunless %}{% endif %}
{% endfor %}

<h2>Архив выступлений</h2>

{% include talks.html %}

<h2>Что это?</h2>

<p>«Схемотехника» — главная и единственная серия московских встреч ГИС-энтузиастов
из сообществ OpenStreetMap и ГИС-Лаб. Участники слушают рассказы
про геоинформационные технологии и открытые геоданные, общаются с докладчиками
и делятся мыслями и новостями.</p>

<p>Чтобы не пропускать мероприятия и публикации видеозаписей, подпишитесь
на <a href="https://t.me/schemotechnika">канал в Telegram</a>.</p>

<p>Организует эти встречи Сергей Синицын с командой. По любым вопросам — от новых
мероприятий до помощи с проходом — пишите ему в <a href="https://t.me/SergSin">телеграм</a> или на
почту <a href="mailto:info@schemo.ru">info@schemo.ru</a>.</p>
