body {
  background: #1d1d1d;
  color: #ddd;
  font-family: "PT Sans", "Helvetica Heue", "Arial", sans-serif;
  font-size: 110%;
  font-weight: 200;
  line-height: 1.3;
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (max-device-width: 680px) {
  body {
    max-width: 100%;
    font-size: 120%;
  }
}

p, h1, h2 {
  margin: 1em 0.5em 0;
}

p:first-of-type {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: #77f;
}

strong {
  color: #ffd;
}

li p {
  margin: 0;
}

/* For /talks */

#search {
  margin: 1em 0;
  font-size: 130%;
}

#search input {
  font-size: 100%;
  background: #bbb;
  width: 80%;
  padding-left: 5px;
}

.clearsearch {
  cursor: pointer;
}

#search-results {
  margin-top: 2em;
}

.tag {
  display: inline-block;
  padding: 2px 4px;
  margin-right: 6px;
  background: yellow;
  cursor: pointer;
  font-size: 10px;
  color: black;
}

.taglink {
  color: inherit;
}

tr.result:hover {
  cursor: pointer;
  background: #333;
}
